body {
  background-color: #001220;
}

.NavBtns-profile-content {
  justify-content: start;
  padding-top: 15px;
}

#container {
  height: 200vh;
  width: 100vw;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cars {
  height: 80%;
  width: 100%;
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  height: 280px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 17, 31, 0.5);
  backdrop-filter: blur(20px);
  transition: all .15s;
}

.card:hover {
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transform: translateY(-8px);
}

.card img{
  height: 50%;
  margin: 20px 0;
}

.divider {
  height: 1px;
  width: 90%;
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.card-content {
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.card-name {
  font-size: 2rem;
}

.card-year {
  color: white;
  padding: 5px 50px;
  border: 2px dashed rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.card-content2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
}

.card-btn {
  color: white;
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 8px 20px;
  border-radius: 50px;
  transition: all .15s;
}

.card-btn:hover {
  background-color: white;
  color: #001220;
}