.main {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  

}

.main form {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    flex-direction: column;
    transition: all .15s;
}

form div {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    flex-direction: column;
}

#name, #email {
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 1rem;
}

#message {
    padding-top: 10px;
    text-align: center;  

    border-radius: 10px;
    border: 1px solid black;
    resize: none;
}

input::placeholder {
    padding: 20px;
    font-size: 1rem;
}

.sub-button {
    border: 2px solid black;
    border-radius: 5px;  

    padding: 10px;
    background-color: white;
    transition: all .15s;
    font-size: 1rem;
}

.sub-button:hover {
    background-color: black;
    color: white;
}

.divider {
    height: 500px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.socials {  
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.socials-div {
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  

.fa-brands, .fa-regular {
    font-size:6rem;
    color: rgba(0, 0, 0, 0.5);
    transition: all .15s;
}

.fa-brands:hover , .fa-regular:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}

form h2, .socials h1 {  
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}

form h2:hover, .socials h1:hover {
    cursor: default;
    color: rgba(0, 0, 0, 0.8);
}  
