@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  color: white;
}

body {
  overflow-x: hidden;
  position: relative;
}  

nav {
  height: 10vh;
  width: 100%;
  color: #001220;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
}

.NavBtns {
  height: 100%;  
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.NavBtns-profile{
  height: 150px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 25px;
  right: 100px;
}

.NavBtns-profile-content {
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  transition: all .15s;
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

.NavBtns-profile-content a{
  margin-bottom: 10px;
}

.NavBtns-profile-content a:nth-child(1){
  padding: 10px 45px;
}

.profile-logo {
  padding: 2px;
}

.profile-logo:hover + .NavBtns-profile-content{  
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.NavBtns-profile-content:hover {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.profile-logo:hover {
  cursor: pointer;
}

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #001220;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

footer i{
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  transition: all .15s;
}

footer i:hover {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.button1 {
  background-color: rgba(255, 255, 255, 0.8);
  color: #001220;
  font-size: 1em;
  border: 2px solid #001220;
  padding: 8px 25px;
  border-radius: 2px;
  transition: all .15s;
  text-wrap: nowrap;
  transition: all .15s;
}

.button1:hover {
  color: white;
  background-color: #001220;
}

.button1:active {
  border: 4px solid rgba(0, 102, 255, 0.8);
  outline: 4px solid rgba(0, 102, 255, 0.4);
}

.rounded-btn {
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 50px;
  transition: all .15s;
  background-color: rgba(0, 18, 32, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.rounded-btn:hover {
  background-color: rgba(252, 252, 252);
  color: #001220;
}

.ul-anim{
  display: inline-block;
  position: relative;
}

.ul-anim::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.ul-anim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}